<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullstack Kanban</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <h1>Kanban Homepage</h1>
    <form action="/addBoard" method="POST">
        <label for="boardName">Board Name</label>
        <input class="form-input" type="text" name="boardName" required>
        <label for="column1">Column Name</label>
        <input id="column1" class="form-input" type="text" name="columns[1]">
        <label for="column2">Column Name</label>
        <input id="column2" class="form-input" type="text" name="columns[2]">
        <button class="button" type="submit">submit</button>
    </form>

    <ul>
        <% console.log("BOARDS HERE ", boards) %>
        <% boards.forEach(board => { %>
            <li class="list-item" data-id=<%=board._id%>>
                <a href="/board/<%=board._id%>">View Board</a>
                <div><%= board.name %></div>
                <% board.columns.forEach(col => { %>
                    <div><%= col.name %></div>
                <% }) %>
                <a href="/edit/board/<%=board._id%>">Edit</a>
                <a href="/edit/deleteBoard/<%=board._id%>">Remove</a>
            </li>
        <% }) %> 
    </ul>
</body>
</html>